<div id="Experiencia">
  <div class="container text-left">
    <h2><b>Experiencia Laboral</b></h2>

    <div class="row">
      <div class="col-2">
        <img id="logo_empresa" src="./assets/EG_Logo.jpg" width="100" height="100" alt="Electricidad Gallardo">
      </div>
      <div class="col-9">
        <ul id="empresa" style="list-style-type:none;">
          <li><b>Vendedor técnico</b></li>
          <li>Electricidad Gallardo</li>
          <li>feb. de 2015 - actualidad - 7 años 8 meses</li>
          <li>Av. Angel Gallardo 983 - CABA</li>
        </ul>
      </div>
      <div class="col-1">
        <ul id="editar_empresa" class="list-group list-group-horizontal">
          <li class="list-group-item"><i class="fa-solid fa-pencil"></i></li>
          <li class="list-group-item"><i class="fa-regular fa-circle-xmark"></i></li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-2">
        <img id="logo_empresa" src="./assets/EdS-Logo.png" width="100" height="100" alt="Electricidad del Sur">
      </div>
      <div class="col-9">
        <ul id="empresa" style="list-style-type:none;">
          <li><b>Vendedor técnico</b></li>
          <li>Electricidad del Sur S.A.</li>
          <li>ago. de 1993 - dic. de 2014 - 21 años 5 meses</li>
          <li>Av. Hipólito Irigoyen 429 - Quilmes</li>
          <li>Asesoramiento, prescripción y venta de materiales eléctricos para el comercio y la industria.</li>
        </ul>
      </div>
      <div class="col-1">
        <ul id="editar_empresa" class="list-group list-group-horizontal">
          <li class="list-group-item"><i class="fa-solid fa-pencil"></i></li>
          <li class="list-group-item"><i class="fa-regular fa-circle-xmark"></i></li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-2">
        <img id="logo_empresa" src="./assets/E_Logo.jpg" width="100" height="100" alt="EDESA-FAN">
      </div>
      <div class="col-9">
        <ul id="empresa" style="list-style-type:none;">
          <li><b>Montador técnico</b></li>
          <li>Empresa de Desarrollos Especiales - Fábrica de Artefactos Navales</li>
          <li>may. de 1988 - sept. de 1991 - 3 años 5 meses</li>
          <li>Darsena Sur - CABA</li>
          <li>Mantenimiento, reparación y actualización de artefactos navales</li>
        </ul>
      </div>
      <div class="col-1">
        <ul id="editar_empresa" class="list-group list-group-horizontal">
          <li class="list-group-item"><i class="fa-solid fa-pencil"></i></li>
          <li class="list-group-item"><i class="fa-regular fa-circle-xmark"></i></li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-2">
        <img id="logo_empresa" src="./assets/E_Logo.jpg" width="100" height="100" alt="Electricidad Quilmes">
      </div>
      <div class="col-9">
        <ul id="empresa" style="list-style-type:none;">
          <li><b>Vendedor</b></li>
          <li>Electricidad Quilmes S.A.</li>
          <li>ene. de 1987 - abr. de 1988 - 1 año 4 meses</li>
          <li>H. Yrigoyen 784 - Quilmes</li>
          <li>Vendedor técnico de mostrado</li>
        </ul>
      </div>
      <div class="col-1">
        <ul id="editar_empresa" class="list-group list-group-horizontal">
          <li class="list-group-item"><i class="fa-solid fa-pencil"></i></li>
          <li class="list-group-item"><i class="fa-regular fa-circle-xmark"></i></li>
        </ul>
      </div>
    </div>

  </div>
