<div id="acerca_de">
    <div class="container text-center">
      <div class="row">
        <div class="col-3">
          <img src="./assets/Foto_perfil.png" class="rounded-circle" alt="...">
          <h3 id="mi_nombre"><b>{{miPortfolio.nombre + " " + miPortfolio.apellido}}</b></h3>
          <h4>Full Stack Developer Jr.</h4>
        </div>
        <div class="col-8">
          <h2><b>Acerca de...</b></h2>          
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam quo, rerum nisi illo architecto dolor corrupti aliquam consequatur alias? Quam modi amet saepe rerum magni velit tempore nisi repellendus voluptas?</p>
        </div>
        <div class="col-1">
          <ul class="list-group list-group-horizontal">
            <li class="list-group-item"><i class="fa-solid fa-pencil"></i></li>
            <li class="list-group-item"><i class="fa-regular fa-circle-xmark"></i></li>
          </ul> 
        </div>
      </div>
    </div>

