<div id="Educacion">
    <div class="container text-left">
      <h2><b>Educación</b></h2>

      <div class="row">          
        <div class="col-2">            
          <img id="logo_instituto" src="./assets/UTN_Logo.jpg" width="100" height="100" alt="UTN-FRA">
        </div>
        <div class="col-9">           
          <ul id="instituto" style="list-style-type:none;"> 
            <li><b>Universidad Tecnológica Nacional - Facultad Regional Avellaneda (UTN - FRA)</b></li>             
            <li>1987 - 1990</li>              
          </ul>  
        </div>
        <div class="col-1">
          <ul id="editar_instituto" class="list-group list-group-horizontal">
          <li class="list-group-item"><i class="fa-solid fa-pencil"></i></li>
          <li class="list-group-item"><i class="fa-regular fa-circle-xmark"></i></li>
          </ul>                     
        </div>
      </div>

      <div class="row">          
        <div class="col-2">            
          <img id="logo_instituto" src="./assets/IPIB_Logo.jpg" width="100" height="100" alt="ENET N° 1 de Berazategui">
        </div>
        <div class="col-9">           
          <ul id="instituto" style="list-style-type:none;">
            <li><b>E.N.E.T N° 1 de Berazategui (ex I.P.I.B.)</b></li>
            <li>Técnico Electromecánico</li>
            <li>1981 - 1986</li>              
          </ul>  
        </div>
        <div class="col-1">
          <ul id="editar_instituto" class="list-group list-group-horizontal">
          <li class="list-group-item"><i class="fa-solid fa-pencil"></i></li>
          <li class="list-group-item"><i class="fa-regular fa-circle-xmark"></i></li>
          </ul>                     
        </div>
      </div>       

    </div>
